@page
@model Registro_Ciclo0.clasificacion_ciclo0Model
@{
    ViewData["Title"] = "Home page";
}

<section class="title-block-c">
    <div class="title_clasificacion-c">
        <h1 class="clasificacion-texto">Tabla de clasificación</h1>
    </div>
</section>


<section class="clasificacion-c">
    <div class="wrapper-c">
        <div class="tabla-c">
            
            <div class="tabla-subtitle-c">
                <h2>Semana del x al x del 2023</h2>
            </div>
            <div class="tabla-usuario-c">
                <ul>
                    <li>
                        
                        <h2>1º</h2><h3>Usuario</h3><h4>Puntos: xxxxx</h4>
                        <img src="~/img/emerald.png"> <h5>XXXXX</h5>
                    </li>
                    <li>
                        
                        <h2>2º</h2><h3>Usuario</h3><h4>Puntos: xxxxx</h4>
                        <img src="~/img/emerald.png"> <h5>XXXXX</h5>
                        
                    </li>
                    <li>
                        
                        <h2>3º</h2><h3>Usuario</h3><h4>Puntos: xxxxx</h4>
                        <img src="~/img/emerald.png"> <h5>XXXX</h5>
                        
                    </li>
                    <li>
                        
                        <h2>4º</h2><h3>Usuario</h3><h4>Puntos: xxxxx</h4>
                        <img src="~/img/emerald.png"> <h5>XXXX</h5>
                        
                    </li>
                    <li>
                        
                        <h2>5º</h2><h3>Usuario</h3><h4>Puntos: xxxxx</h4>
                        <img src="~/img/emerald.png"> <h5>XXX</h5>
                        
                    </li>
                    <li>
                        
                        <h2>6º</h2><h3>Usuario</h3><h4>Puntos: xxxxx</h4>
                        <img src="~/img/emerald.png"> <h5>XXX</h5>
                        
                    </li>
                    <li>
                        
                        <h2>7º</h2><h3>Usuario</h3><h4>Puntos: xxxxx</h4>
                        <img src="~/img/emerald.png"> <h5>XXX</h5>
                        
                    </li>
                    <li>
                        
                        <h2>8º</h2><h3>Usuario</h3><h4>Puntos: xxxxx</h4>
                        <img src="~/img/emerald.png"> <h5>XXX</h5>
                        
                    </li>
                    <li>
                        
                        <h2>9º</h2><h3>Usuario</h3><h4>Puntos: xxxxx</h4>
                        <img src="~/img/emerald.png"> <h5>XX</h5>
                        
                    </li>
                    <li>
                        
                        <h2>10º</h2><h3>Usuario</h3><h4>Puntos: xxxxx</h4>
                        <img src="~/img/emerald.png"> <h5>XX</h5>
                        
                    </li>
                </ul>
            </div>

        </div>
        

    </div>



</section>




