@page
@model Registro_Ciclo0.Pages.LogoutModel
@{
}

<div class="logout-container">
    <form method="post">
        <button type="submit" class="logout-button">Cerrar Sesión</button>
    </form>
</div>